#ifndef _MY_SHELL_CFG_H
#define _MY_SHELL_CFG_H

/******************************************************************************
*   Public Definitions
*******************************************************************************/
#define SHELL_RX_BUFFER_SIZE            (256)
#define SHELL_MAX_ARGS                  (16)
#define SHELL_PROMPT                    "myShell-> "

/******************************************************************************
*   Public Macros
*******************************************************************************/


/******************************************************************************
*   Public Data Types
*******************************************************************************/
typedef struct SHELL_Commands_Context_s{
    SHELL_Command_t *pTable;
    uint32_t nb_command;
}SHELL_Commands_Context_t;

/******************************************************************************
*   Public Variables
*******************************************************************************/


/******************************************************************************
*   Error Check
*******************************************************************************/


/******************************************************************************
*   Public Functions
*******************************************************************************/
SHELL_Commands_Context_t SHELL_CFG_GetCommandTable(void);

#endif//_MY_SHELL_CFG_H