/******************************************************************************
*   Includes
*******************************************************************************/
#include <string.h>
#include "myShell_cfg.h"

/******************************************************************************
*   Private Definitions
*******************************************************************************/
#define ARRAY_SIZE(arr)                 (sizeof(arr) / sizeof(arr[0]))

/******************************************************************************
*   Private Macros
*******************************************************************************/


/******************************************************************************
*   Private Data Types
*******************************************************************************/


/******************************************************************************
*   Private Functions Declaration
*******************************************************************************/


/******************************************************************************
*   Public Variables
*******************************************************************************/


/******************************************************************************
*   Private Variables
*******************************************************************************/
//Add shell commands inside the the shell_cmd_table 
static SHELL_Command_t shell_cmd_table[] = {
    {"help", SHELL_HelpHandler, "Lists all commands"},
};

static uint32_t nb_shell_cmd = ARRAY_SIZE(shell_cmd_table);

/******************************************************************************
*   Private Functions Definitions
*******************************************************************************/


/******************************************************************************
*   Public Functions Definitions
*******************************************************************************/
SHELL_Commands_Context_t SHELL_CFG_GetCommandTable(void){

    return (SHELL_Commands_Context_t){.nb_command = nb_shell_cmd, .pTable = shell_cmd_table};
}


/******************************************************************************
*   Interrupts
*******************************************************************************/


